.btn {
  background: $blue;
  color: #ffffff;
  display: inline-block;
  border: none;
  padding: $s-size;
  margin-bottom: $s-size;
  font-size: $font-size-large;
  line-height: 1.5rem;
  text-decoration: none;

  &__google {
    background: rgb(212, 53, 53);
  }

  &__twitter {
    background: rgb(53, 148, 212);
  }

  &--sec {
    background: #888888;
  }
}

.btn--link {
  background: transparent;
}
