.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: $s-size;

  > * {
    margin-bottom: $l-size;
  }
}

.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
}
