.text-input {
  border: 1px solid #cacccd;
  height: 40px;
  padding: $l-size;
  font-size: $font-size-large;
}

.select {
  @extend .text-input;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}
