.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
  margin-bottom: $l-size;

  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $m-size;
  }
}

.input-group__item {
  margin-bottom: $s-size;
  width: 100%;

  > * {
    width: 100%;
    margin-bottom: $s-size;
  }

  @media (min-width: $desktop-breakpoint) {
    margin: 0 $s-size 0 0;
  }
}
